{% extends 'base.html' %}
{% load static %}
{% load url_query_append %}
{% block content %}
    
<!-- End Header Section with Navigation Bar -->

<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get">

                {{ search_form }}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            <!-- Start First Pet Photo Post -->
            {% include 'common/pet-posts.html' %}
            <!-- End Third Pet Photo Post -->

            <!-- End Pet Photos Post Section -->
            <!-- Start Pagination -->
            <div class="pagination">
                <span class="current">
                        
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            
                <span class="step-links-buttons">
                
                    <!-- If there are previous and next photos -->
                    {% if page_obj.has_previous and page_obj.has_next %}
                        <a href="?{% url_query_append request 'page' page_obj.previous_page_number %}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="?{% url_query_append request 'page' page_obj.next_page_number %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        
                    <!-- If there are only previous photos -->
                    {% elif page_obj.has_previous %}
                        <a href="{% url_query_append request 'page' page_obj.previous_page_number %}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>

                    <!-- If there are only next photos -->
                    {% elif page_obj.has_next %}
                        <a href="?{% url_query_append request 'page' page_obj.next_page_number %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% endif %}
                
                </span>
            </div>
            <!-- End Pagination -->


        </div>
    </div>
</main>
<!-- End Main Section -->

<!-- Start Footer Section -->
{% endblock %}